:root {
  --color-light: #fff;
  --color-grey: #ebebeb;
  --color-orange: #ff512f;
  --color-dark: #333;
  --color-black: #000;
}

$font-os: "Open Sans", sans-serif;
$font-mont: "Montserrat", sans-serif;
