.achievments {
  margin-bottom: 110px;

  @media screen and (max-width: $bp-tablet) {
    margin-bottom: 60px;
  }

  &__wrapper {
    max-width: 1440px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__inner {
    @include backgroundImg("@/assets/imgs/achievments-section/achievs-bg.webp", center, content, no-repeat);
    padding: 66px 0 87px;

    @media screen and (max-width: $bp-tablet) {
      padding: 0;
    }

    @media screen and (max-width: $bp-mobile) {
      background-image: none;
    }
  }

  &__content {
    max-width: 877px;
    margin: 0 auto;
    @include flex(flex, row, center, center, nowrap, 148px);

    @media screen and (max-width: $bp-desktop) {
      justify-content: space-between;
      gap: 60px;
    }

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__list {
    @include flex(flex, row, flex-start, center, nowrap, 60px);
    width: 380px;

    @media screen and (max-width: $bp-mobile) {
      gap: 40px;
      width: 320px;
    }
  }

  &__item {
    flex-basis: calc((100% - 60px) / 2);
    text-align: center;

    @media screen and (max-width: $bp-mobile) {
      flex-basis: calc((100% - 40px) / 2);
    }

    img {
      width: 100%;
    }
  }
}
