.feedbacks {
  margin-bottom: 160px;

  @media screen and (max-width: $bp-desktop) {
    margin-bottom: 100px;
  }

  @media screen and (max-width: $bp-mobile) {
    margin-bottom: 60px;
  }

  &__wrapper {
    max-width: 900px;

    @media screen and (max-width: $bp-desktop) {
      padding: 0 20px;
    }
  }

  &__content {
    display: block;
    padding: 40px;
    height: 100%;
    text-align: left;
    box-shadow: 0px 1px 6px inset rgba(0, 0, 0, 0.25);
    background-color: var(--color-light);

    @media screen and (max-width: $bp-mobile) {
      padding: 20px;
    }
  }

  &__title {
    font-size: 20px;
    color: var(--color-orange);
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 14px;
  }

  &__img {
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
}
