.main-hero {
  background-image: url(assets/imgs/main-hero-section/hero-bg.webp);
  @include backgroundSettings(center top, cover, no-repeat);
  position: relative;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../assets/imgs/main-hero-section/hero-bg@2x.webp);
  }

  &__wrapper {
    padding: 196px 84px 160px;
  }

  &__title {
    max-width: 600px;
    color: var(--color-light);
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 40px;

    .accent {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--color-light);
    }
  }

  &__subtitle {
    color: var(--color-light);
    font-size: 20px;
    margin-bottom: 47px;
  }

  &__btn {
    display: block;
    padding: 22px 50px;
    font-size: 24px;
    letter-spacing: normal;
    margin-bottom: 130px;
  }

  &__partners {
    @include flex(inline-flex, row, space-between, center, 40px);
  }

  &__logo {
    display: inline-block;

    &_magento {
      width: 206px;
    }

    &_microsoft {
      width: 126px;
      align-self: flex-end;
    }

    &_adobe {
      width: 160px;
    }

    a {
      display: block;
    }
  }
}
