.main-services {
  &__wrapper {
    padding: 90px 0 120px;
    @include flex(flex, column, flex-start, center, unset);
  }

  &__head {
    text-align: center;
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 94px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    position: relative;
    width: 1130px;
    height: 668px;
    margin-bottom: 50px;
  }

  &__item {
    background-color: var(--color-light);
    box-shadow: 0px 6px 20px 0px rgba(2, 2, 2, 0.08);

    &.top-left {
      width: 679px;
      height: 296px;
      padding: 50px 132px 0 107px;
      @include position(absolute, 15px, auto, auto, 0, 1);
    }

    &.top-right {
      width: 470px;
      height: 668px;
      padding: 75px 37px 0 60px;
      @include position(absolute, 0, 38px, auto, auto, 2);
    }

    &.bottom-left {
      width: 413px;
      height: 626px;
      padding: 316px 58px 0 69px;
      @include position(absolute, 42px, auto, auto, 71px, 0);
    }

    &.bottom-right {
      width: 661px;
      height: 304px;
      padding: 66px 141px 0 80px;
      @include position(absolute, auto, 0, 30px, auto, 3);
    }

    &-title {
      line-height: 1.2;
      color: var(--color-orange);
      margin-bottom: 20px;
    }
  }

  &__btn {
    padding: 14px 38px;
  }
}
