* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  color: var(--color-dark);
  line-height: normal;
  font-size: 18px;
  font-family: $font-os;
  font-weight: 400;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: $font-mont;
  font-size: 50px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}
